<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/static/assets/img/logo_favicon.jpg" class="brand-image img-circle elevation-2" style="opacity: 1;">
    <span class="brand-text font-weight-light"><strong>Lost In Groove</strong></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/static/assets/img/user_image.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="info">
        <a href="/logout" class="d-block">{{ current_user.name }} <br><small>(Cerrar sesión)</small></a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Buscar en menú" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/users/all" class="nav-link {% if 'index2.html' in segment %} active {% endif %}">
            <i class="fa-solid fa-user nav-icon"></i>
            <p>Lista de usuarios</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/students/all" class="nav-link {% if 'index2.html' in segment %} active {% endif %}">
            <i class="fa-solid fa-people-robbery nav-icon"></i>
            <p>Lista de Miembros</p>
          </a>
        </li>
      <li class="nav-item">
          <a href="/expenses/all" class="nav-link">
            <i class="fa-solid fa-receipt nav-icon"></i>
            <p>Egresos</p>
          </a>
        </li>
      <li class="nav-item">
      <a href="/incomes/all" class="nav-link">
        <i class="fa-solid fa-sack-dollar nav-icon"></i>
        <p>Ingresos</p>
      </a>
    </li>
      <li class="nav-item">
      <a href="/expirations/all" class="nav-link">
        <i class="fa-regular fa-clock nav-icon"></i>
        <p>Control de vencimientos</p>
      </a>
    </li>
      <li class="nav-item">
          <a href="/leads/all" class="nav-link {% if 'index2.html' in segment %} active {% endif %}">
            <i class="fa-solid fa-users nav-icon"></i>
            <p>Leads</p>
          </a>
        </li>
      <li class="nav-header">Configuraciones</li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                Catálogos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/classes/all" class="nav-link">
                  <i class="fa-solid fa-pen-ruler nav-icon"></i>
                  <p>Clases</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/income-concepts/all" class="nav-link">
                  <i class="fa-solid fa-money-bill-trend-up nav-icon"></i>
                  <p>Conceptos de Ingresos</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/expense-concepts/all" class="nav-link">
                  <i class="fa-solid fa-money-bill-transfer nav-icon"></i>
                  <p>Conceptos de Egresos</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/payment-types/all" class="nav-link">
                  <i class="fa-regular fa-credit-card nav-icon"></i>
                  <p>Tipos de pagos</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/memberships/all" class="nav-link">
                  <i class="fa-regular fa-address-card nav-icon"></i>
                  <p>Membresías</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/teachers/all" class="nav-link">
                  <i class="fa-solid fa-chalkboard-user nav-icon"></i>
                  <p>Profesores</p>
                </a>
              </li>
            </ul>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
