<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Agregar Egreso</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addForm" method="post">
        <div class="modal-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Fecha <code>*</code></label>
                    <input type="date" name="date" class="form-control" id="date" placeholder=""  required>
                </div>
            </div>
            <div class="col-md-12">

                <div class="form-group">
                    <label for="concept">Concepto <code>*</code></label>
                        <select name="concept" id="concept" class="form-control select2" style="width: 100%;" required>
                            <option value="">Selecciona una opción</option>
                                {% for concept in concepts %}
                                    <option value ="{{ concept.id }}" > {{ concept.name }}  </option>
                                {% endfor %}
                            <option value="other">OTRO</option>
                        </select>
                </div>
                <div class="form-group" id="staff">
                    <label for="name">Staff <code>*</code></label>
                    <select name="staff" id="worker" class="form-control select2" style="width: 100%;" required>
                        <option value="">Selecciona una opción</option>
                            {% for teacher in teachers %}
                                <option value ="{{ teacher.id }}" > {{ teacher.name }}  </option>
                            {% endfor %}
                            <option value="other" >OTRO</option>
                        </select>
                </div>
                <div class="form-group" id="description">
                    <label for="name">Descripción <code>*</code></label>
                    <input type="text" name="desc" class="form-control" id="desc" placeholder="Descripción" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="payment">Tipo de pago <code>*</code></label>
                        <select name="payment" id="payment" class="form-control select2" style="width: 100%;" required>
                            <option value="">Selecciona una opción</option>
                                {% for data in payment_types %}
                                    <option value ="{{ data.id }}" > {{ data.name }}  </option>
                                {% endfor %}
                        </select>
                </div>
            </div>
        <div class="col-md-12">
            <div class="form-group">
                    <label for="name">Cantidad <code>*</code></label>
                    <input type="text" name="total" min="0" class="form-control" id="total" placeholder="Cantidad" required>
                </div>
        </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
           <button type="submit" class="btn btn-primary" onclick="register(event)">Guardar</button>
        </div>
     </form>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<script src="/static/js/expenses/expense_modal_add.js"></script>