<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Agregar miembro</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addForm" method="post">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <input type="text" name="id" class="form-control" id="id" value="{{ member.id }}" placeholder="Nombre" hidden required>
            <div class="form-group">
              <label for="name">Nombre <code>*</code></label>
              <input type="text" name="name" class="form-control" id="name" value="{{ member.name }}" placeholder="Nombre" required>
            </div>
            <div class="form-group">
              <label for="last_name">Apellido <code>*</code></label>
              <input type="text" name="last_name" class="form-control" value="{{ member.last_name }}" id="last_name" placeholder="Apellido" required>
            </div>
            <div class="form-group">
              <label for="middle_name">Segundo apellido</label>
              <input type="text" name="second_last_name" class="form-control" id="second_last_name" value="{{ member.second_last_name }}" placeholder="Segundo apellido">
            </div>
            <div class="form-group">
              <label for="start_date">Fecha de inicio <code>*</code></label>
              <input type="date" name="start_date" class="form-control" id="start_date" value="{{ member.start_date }}" required>
            </div>
            <div class="form-group">
              <label for="email">Correo electrónico <code>*</code></label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Correo electrónico" value="{{ member.email }}" required>
            </div>
            <div class="form-group">
              <label for="membership_id">Membresía <code>*</code></label>
                <select name="membership_id" id="membership_id" class="form-control select2" required>
                    <option value="">Selecciona una opción</option>
                    {% for membership in memberships %}
                        <option value="{{ membership.id }}" {% if member.membership_id == membership.id %} selected="selected" {% endif %}>{{ membership.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
              <label for="how_find_us">¿Cómo nos encontró? <code>*</code></label>
              <select name="how_find_us" id="how_find_us" class="form-control select2" required>
                <option value="">Selecciona una opción</option>
                <option value="0" {% if member.how_find_us == 0 %} selected="selected" {% endif %}>Facebook</option>
                <option value="2" {% if member.how_find_us == 2 %} selected="selected" {% endif %}>Instagram</option>
                <option value="1" {% if member.how_find_us == 1 %} selected="selected" {% endif %}>WhatsApp</option>
              </select>
            </div>
            <div class="form-group">
              <label for="dance_reason">Razón para bailar <code>*</code></label>
              <select name="dance_reason" id="dance_reason" class="form-control select2" required>
                <option value="">Selecciona una opción</option>
                <option value="0" {% if member.dance_reason == 0 %}selected="selected"{% endif %}>Ejercicio</option>
                <option value="1" {% if member.dance_reason == 1 %}selected="selected"{% endif %}>Ejercicio, pasión y hobby</option>
                <option value="2" {% if member.dance_reason == 2 %}selected="selected"{% endif %}>Me encanta</option>
                <option value="3" {% if member.dance_reason == 3 %}selected="selected"{% endif %}>Me hace feliz</option>
                <option value="4" {% if member.dance_reason == 4 %}selected="selected"{% endif %}>Me quiero dedicar a esto</option>
                <option value="5" {% if member.dance_reason == 5 %}selected="selected"{% endif %}>Terapia</option>
                <option value="6" {% if member.dance_reason == 6 %}selected="selected"{% endif %}>Todas</option>
              </select>
            </div>
          <div class="form-group">
                  <label>¿Tiene alergias? <code>*</code></label>
                  <select name="has_allergies" id="has_allergies" class="form-control" required>
                    <option value="">Selecciona una opción</option>
                    <option value="true" {% if member.has_allergies == 1 %} selected="selected" {% endif %}>Sí</option>
                    <option value="false" {% if member.has_allergies == 0 %} selected="selected" {% endif %}>No</option>
                  </select>
                </div>

                <div id="allergies_group" class="form-group" hidden>
                    <label for="allergies">Alergias (si aplica)</label>
                    <input type="text" name="allergies" class="form-control" id="allergies" value="{{ member.allergies or '' }}" placeholder="Especifica las alergias" disabled required>
                </div>

                <div class="form-group">
                  <label>¿Tiene actividades restringidas? <code>*</code></label>
                  <select name="has_restricted_activities" id="has_restricted_activities" class="form-control" required>
                    <option value="">Selecciona una opción</option>
                    <option value="true" {% if member.has_restricted_activities == 1 %} selected="selected" {% endif %} >Sí</option>
                    <option value="false" {% if member.has_restricted_activities == 0 %} selected="selected" {% endif %}>No</option>
                  </select>
                </div>

                <div id="restricted_activities_group" class="form-group" hidden>
                    <label for="restricted_activities">Actividades restringidas (si aplica)</label>
                    <input type="text" name="restricted_activities" value="{{ member.restricted_activities or '' }}" class="form-control" id="restricted_activities" placeholder="Especifica las actividades restringidas" disabled required>
                </div>

                <div class="form-group">
                  <label>¿Tiene alguna condición mental? <code>*</code></label>
                  <select name="has_mental_conditions" id="has_mental_conditions" class="form-control" required>
                    <option value="">Selecciona una opción</option>
                    <option value="true" {% if member.has_mental_conditions == 1 %} selected="selected" {% endif %}>Sí</option>
                    <option value="false" {% if member.has_mental_conditions == 0 %} selected="selected" {% endif %}>No</option>
                  </select>
                </div>

                <div id="mental_conditions_group" class="form-group" hidden>
                    <label for="mental_conditions">Condiciones mentales (si aplica)</label>
                    <input type="text" value="{{ member.mental_conditions or '' }}" name="mental_conditions" class="form-control" id="mental_conditions" placeholder="Especifica las condiciones mentales" disabled required>
                </div>
           <div class="form-group">
                  <label>¿Tiene alguna enfermedad crónica? <code>*</code></label>
                  <select name="has_chronic_disease" id="has_chronic_disease" class="form-control" required>
                    <option value="">Selecciona una opción</option>
                    <option value="true" {% if member.has_chronic_disease == 1 %} selected="selected" {% endif %}>Sí</option>
                    <option value="false"  {% if member.has_chronic_disease == 0 %} selected="selected" {% endif %}>No</option>
                  </select>
                </div>

                <div id="chronic_disease_group" class="form-group" hidden>
                    <label for="chronic_disease">Enfermedad crónica (si aplica)</label>
                    <input type="text" value="{{ member.chronic_disease or '' }}" name="chronic_disease" class="form-control" id="chronic_disease" placeholder="Especifica la enfermedad" disabled required>
                </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="address">Dirección <code>*</code></label>
              <input type="text" name="address" value="{{ member.address }}" class="form-control" id="address" placeholder="Dirección" required>
            </div>
            <div class="form-group">
              <label for="birth_date">Fecha de nacimiento <code>*</code></label>
              <input type="date" name="birth_date" class="form-control" id="birth_date" value="{{ member.birth_date }}" required>
            </div>
            <div class="form-group">
              <label for="birth_place">Lugar de nacimiento <code>*</code></label>
              <input type="text" name="birth_place" class="form-control" id="birth_place" value="{{ member.birth_place }}" placeholder="Lugar de nacimiento" required>
            </div>
            <div class="form-group">
              <label for="nationality">Nacionalidad <code>*</code></label>
              <input type="text" name="nationality" class="form-control" id="nationality" value="{{ member.nationality }}" placeholder="Nacionalidad" required>
            </div>
            <div class="form-group">
              <label for="blood_type">Tipo de sangre <code>*</code></label>
                <select name="blood_type" id="blood_type" class="form-control select2" required>
                  <option value="">Selecciona una opción</option>
                  <option value="0" {% if member.blood_type == 0 %} selected="selected" {% endif %}>A+</option>
                  <option value="1" {% if member.blood_type == 1 %} selected="selected" {% endif %}>A-</option>
                  <option value="2" {% if member.blood_type == 2 %} selected="selected" {% endif %}>B+</option>
                  <option value="3" {% if member.blood_type == 3 %} selected="selected" {% endif %}>B-</option>
                  <option value="4" {% if member.blood_type == 4 %} selected="selected" {% endif %}>AB+</option>
                  <option value="5" {% if member.blood_type == 5 %} selected="selected" {% endif %}>AB-</option>
                  <option value="6" {% if member.blood_type == 6 %} selected="selected" {% endif %}>O+</option>
                  <option value="7" {% if member.blood_type == 7 %} selected="selected" {% endif %}>O-</option>
                </select>
            </div>
            <div class="form-group">
              <label for="phone">Teléfono <code>*</code></label>
              <input type="tel" name="phone" class="form-control" id="phone" value="{{ member.phone }}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}[0-9]{2}" placeholder="Teléfono (123-456-7890)" required>
            </div>
            <div class="form-group">
              <label for="dad_name">Nombre del padre <code>*</code></label>
              <input type="text" name="dad_name" class="form-control" id="dad_name" value="{{ member.dad_name }}" placeholder="Nombre del padre" required>
            </div>
            <div class="form-group">
              <label for="dad_phone">Teléfono del padre <code>*</code></label>
              <input type="tel" name="dad_phone" class="form-control" id="dad_phone" value="{{ member.dad_phone }}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}[0-9]{2}" placeholder="Teléfono del padre" required>
            </div>
            <div class="form-group">
              <label for="mom_name">Nombre de la madre <code>*</code></label>
              <input type="text" name="mom_name" class="form-control" id="mom_name" value="{{ member.mom_name }}" placeholder="Nombre de la madre" required>
            </div>
            <div class="form-group">
              <label for="mom_phone">Teléfono de la madre <code>*</code></label>
              <input type="tel" name="mom_phone" class="form-control" id="mom_phone" value="{{ member.mom_phone }}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}[0-9]{2}" placeholder="Teléfono de la madre" required>
            </div>
            <div class="form-group">
              <label for="emergency_contact_name">Nombre de contacto de emergencia <code>*</code></label>
              <input type="text" name="emergency_contact_name" class="form-control" value="{{ member.emergency_contact_name }}" id="emergency_contact_name" placeholder="Nombre del contacto de emergencia" required>
            </div>
            <div class="form-group">
              <label for="emergency_contact_phone">Número del contacto de emergencia <code>*</code></label>
              <input type="text" name="emergency_contact_phone" class="form-control" value="{{ member.emergency_contact_phone }}" id="emergency_contact_phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}[0-9]{2}" placeholder="Número del contacto de emergencia" required>
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" onclick="register(event)">Guardar</button>
      </div>
    </form>
  </div>
</div>

<!-- /.modal-dialog -->

<script src="/static/js/students/students_modal_edit.js"></script>
