<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Informar sobre el empleado <br>{{ employee }}</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addForm" method="post">
        <input type="text" name="employee_id" class="form-control" id="employee_id" placeholder="id del empleado" value="{{employee_id}}" required hidden>
        <div class="modal-body">
            <div class="col-md-12" >
                <div class="form-group">
                    <label for="observations">Observaciones</label>
                    <textarea rows="4" type="text" name="observations" class="form-control" id="observations" placeholder="Observaciones" required></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
           <button type="submit" class="btn btn-primary" onclick="register(event,'/supervisors/down-notification/add/')">Enviar</button>
        </div>
     </form>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<script>

</script>
