<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Empleado {{ employee.employee_number }}</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addForm" method="post">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                      <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="{{ employee.photo or '/static/assets/img/policeman.png'}}"  onerror="this.onerror=null; this.src='/static/assets/img/policeman.png'" alt="Foto Empleado">


                        </div>
                        <h3 class="profile-username text-center">
                          {{ employee.name }} {{ employee.last_name }} {{ employee.middle_name }}
                        </h3>
                        {% if employee.status == '0' %}
                            <p class="text-danger text-center">
                              BAJA
                            </p>
                        {% else %}
                            <p class="text-success text-center">
                              ALTA
                            </p>
                        {% endif %}

                        <ul class="list-group list-group-unbordered mb-3">
                            {% if employee.status != '0' %}
                              <li class="list-group-item">
                                <b>Fecha de alta</b> <a class="float-right">{{ employee_start_date.date_start.strftime("%d/%m/%Y") or '---'}}</a>
                              </li>
                              <li class="list-group-item">
                                <b>Antiguedad</b> <a class="float-right"> {{ employee_start_date.date_start|seniority }}</a>
                              </li>
                              <li class="list-group-item">
                                <b>Dias de vacaciones </b> <a class="float-right"> {{ employee_start_date.date_start|vacations or 0 }}</a>
                              </li>
                            {% else %}
                               <li class="list-group-item">
                                <b>Fecha de baja</b> <a class="float-right">{{ employee_rh.date_end.strftime("%d/%m/%Y") or '---'}}</a>
                              </li>
                            {% endif %}
                          <li class="list-group-item">
                            <b>Registro patronal</b> <a class="float-right">{{ employee.employer_registration.name }}</a>
                          </li>
                          {% if employee.status != '0' %}
                          <li class="list-group-item">
                            <a type="button" class="btn btn-sm btn-primary btn-block " href="/employee/{{ employee.id }}" title="Editar"><i class="fas fa-edit"></i> Editar</a>
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                      <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                      <div class="card-header p-2">
                        <ul class="nav nav-pills">
                          <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Datos generales</a></li>
                          <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Datos de nomina</a></li>
                          <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Datos de RH</a></li>
                          <li class="nav-item"><a class="nav-link" href="#history" data-toggle="tab">Historial de altas</a></li>
                          <li class="nav-item"><a class="nav-link" href="#pension" data-toggle="tab">Datos de pension alimenticia</a></li>
                        </ul>
                      </div><!-- /.card-header -->
                      <div class="card-body">
                        <div class="tab-content">
                          <div class="tab-pane active" id="activity">
                              <h5>Datos generales</h5>
                              <hr>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label >Nombre: </label> <p>{{ employee.name }} {{ employee.last_name }} {{ employee.middle_name }}</p>
                                      <label >CURP: </label> <p>{{ employee.curp }}</p>
                                      <label >Registro patronal: </label> <p>{{ employee.employer_registration.name }}</p>
                                  </div>
                                  <div class="col-md-6">
                                      <label><i class="fas fa-lg fa-birthday-cake"></i> Fecha de nacimiento: </label><p> {{ employee.birth_date|strftime}} </p>
                                      <label >RFC: </label><p> {{ employee.rfc }}</p>
                                      <label >Ubicacion: </label><p> {{ employee.location_id.name}}</p>
                                  </div>
                              </div>
                              <h5>Datos de contacto</h5>
                              <hr>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label >Teléfono: </label><p> {{ employee.telephone}}</p>
                                      <label >Calle: </label> <p>{{ employee.street}}</p>
                                      <label >Numero exterior: </label><p> {{ employee.external_number}}</p>
                                      <label >Estado: </label><p> {{ state.name}}</p>
                                  </div>
                                  <div class="col-md-6">
                                      <label >Codigo postal: </label> <p>{{ employee.postal_code}}</p>
                                      <label >Colonia: </label><p> {{ employee.suburb}}</p>
                                      <label >numero interior: </label> <p>{{ employee.internal_number}}</p>
                                      <label >Ciudad: </label><p> {{ employee.city.name}}</p>
                                  </div>
                              </div>

                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="timeline">
                              <h5>Datos bancarios</h5>
                              <hr>
                              <div class="row">
                                  <div class="col-md-4"><label >Banco: </label> <p>{{employee.bank.name}}</p></div>
                                  <div class="col-md-4"><label >Numero de cuenta: </label> <p>{{employee.bank_account}}</p></div>
                                  <div class="col-md-4"><label >Numero de tarjeta: </label><p> {{employee.bank_card_number}}</p></div>
                              </div>
                              <h5>Datos del puesto</h5>
                              <hr>
                              <div class="row">
                                  <div class="col-md-4"><label >Supervisor: </label><p> {{supervisor if supervisor is not none else ""}}</p></div>
                                  <div class="col-md-4"><label >Nombre de la nomina: </label><p> {{employee.service.name}}</p></div>
                                  <div class="col-md-4"><label >Cliente: </label><p> {{employee.client.trade_name}}</p></div>
                              </div>
                              <h5>Datos nomina</h5>
                              <hr>
                              <div class="row">
                                  <div class="col-md-4">
                                      <label >Sueldo: </label><p>${{employee.salary}}</p>
                                      <label >NSS: </label><p> {{employee.nss}}</p>
                                       <label >Tipo de nomina: </label><p> {{employee.payroll.name}}</p>
                                  </div>
                                  <div class="col-md-4">
                                      <label >SDI IMSS: </label><p>${{employee.sdi_imss}}</p>
                                      <label >Pensión: </label> <p>{{employee.pension}}</p>
                                  </div>
                                  <div class="col-md-4">
                                      <label >Tipo de tiempo extra: </label> <p>{{employee.type_overtime.type}}</p>
                                      <label >Infonavit: </label><p> {{employee.infonavit}}</p>
                                  </div>
                              </div>
                          </div>
                          <!-- /.tab-pane -->

                          <div class="tab-pane" id="settings">
                              <p><label >Tipo de credito infonavit: </label> {{ employee.type_credit_infonavit}}</p>
                              <p><label >Valor del credito: </label> {{ employee.credit_value}}</p>
                              <p><label >Numero de credito: </label> {{ employee.credit_number}}</p>
                              <p><label >Obervaciones: </label> {{ employee.observations}}</p>

                          </div>
                          <!-- /.tab-pane -->
                        <div class="tab-pane" id="pension">
                              <p><label >Porcentaje de pension: </label> {{ employee.percent_pension|int if employee.percent_pension != none else 'Sin informacion' }}%</p>
                              <p><label >Pension: </label> {{ employee.pension if employee.pension != none else 'Sin informacion' }}</p>
                              <p><label >Beneficiario pension: </label> {{ p_benefit.benefit_name  }}</p>
                              <p><label >Banco: </label>  {{ p_benefit.bank_id }}</p>
                              <p><label >Numero de cuenta: </label>{{ p_benefit.bank_account }} </p>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="history">
                              <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>Fecha Alta</th>
                                      <th>Fecha Baja</th>
                                      <th>Motivo de baja</th>
                                        <th>Descargar Constancias</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for item in employee_rh_all %}
                                        <tr>
                                          <td>{{ item.date_start.strftime("%d/%m/%Y")}}</td>
                                          {% if  item.date_end is not none %}
                                            <td>{{ item.date_end.strftime("%d/%m/%Y") or '---'}} </td>
                                          {% else %}
                                            <td>---</td>
                                          {% endif %}
                                          <td>{{ item.leave_description or '---' }}</td>
                                            <td>
                                                {% if item.link_up_pdf %}
                                                <a type="button" href='{{ item.link_up_pdf }}' class="btn btn-sm btn-outline-success" title="PDF de Alta">
                                            <i class="fas fa-file-pdf"></i></a>
                                            {% endif %}
                                            {% if  item.date_end is not none %}
                                                {% if item.link_down_pdf %}
                                            <a type="button" href='{{ item.link_down_pdf }}' class="btn btn-sm btn-outline-danger" title="PDF de Baja">
                                            <i class="fas fa-file-pdf"></i></a>
                                                {% endif %}
                                          {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                          </div>
                          <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                      </div><!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
     </form>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
