<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Poner en lista negra al empleado: </h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addForm" method="post">
        <div class="modal-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <p>{{ employee.name }} {{ employee.last_name }} {{ employee.middle_name }}</p>
                    <label for="name">Fecha de baja</label>
                    <input type="text" name="employee_id" class="form-control" id="employee_id" placeholder="Fecha de alta" value="{{ employee.id }}" required="" hidden>
                    <input type="date" name="date_end" class="form-control" id="date_end" placeholder="Fecha de alta" value="" required="">
                </div>

                <div class="form-group">
                    <label for="name">Motivo </label>
                    <textarea type="date" name="description" class="form-control" id="description" placeholder="Motivo" value="" required></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
           <button type="submit" class="btn btn-primary" onclick="register_blacklist(event)">Guardar</button>
        </div>
     </form>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
