<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Agregar fotografia de la incapacidad {{employee.curp }} </h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addForm" method="post">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" name="employee_inability_id" class="form-control" id="employee_inability_id" placeholder="Fecha de alta" value="{{ employee_inability.id }}" required="" hidden>
                     <div class="form-group">
                        <label for="file">Foto empleado</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="photo" id="photo" required>
                          <label class="custom-file-label" for="customFile">Elegir archivo</label>
                        </div>
                     </div>
                </div>

            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
           <button type="submit" class="btn btn-primary" onclick="register_photo(event)">Guardar</button>
        </div>
     </form>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
