<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Generar documento</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addForm" method="post" action="/employees/letters" enctype="application/json">
        <div class="modal-body">
            <div class="col-md-12">
                <div class="form-group">
                 <input type="text" name="employee_id" class="form-control" id="employee_id" placeholder="Numero de empleado" value="{{ employee.id }}" hidden required>
                    <label for="document_type">Tipo de documento <code>*</code> </label>
                    <select name="document_type" id="document_type" class="form-control select2" style="width: 100%;" required>
                        <option selected="selected" value="">Selecciona una opción</option>
                        {% for data in document_type %}
                            <option value ="{{ data[0] }}" >{{ data[1]}}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="form-group" id="kid_div">
                    <label for="employer_registration_id">Nombre del hijo <code>*</code> </label>
                    <input type="text" name="kid" class="form-control" id="kid" placeholder="Nombre del hijo" value="" required>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" onclick="">Generar</button>
        </div>
     </form>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

<script>
    $('#kid_div').hide()

    document.getElementById('document_type').addEventListener('change',function(){
        if (document.getElementById('document_type').value == '2'){
            $('#kid_div').show()
            $('#kid').prop( "disabled", false );
        }else{
            $('#kid_div').hide()
            $('#kid').prop( "disabled", true );
        }
    })
</script>