    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Agregar fotografia al empleado {{employee.curp }} </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <form id="addForm" method="post">
        <div class="modal-body">
            <div class="form-group">
            <input type="text" name="employee_id" class="form-control" id="employee_id" placeholder="Numero de empleado" value="{{ employee.id }}" hidden required>
                <div class=" ">
                    <input type="file" name="image" id="image" style="display:none;">
                    <input type="text" name="photo" class="form-control" id="photo" placeholder="foto recortada" hidden required>
                    <div class="container" id="instructions">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Instrucciones fotografía</h3>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <p>Hombres:</p>
                                <ul>
                                    <li>Debidamente rasurados</li>
                                    <li>Cabello corto</li>
                                    <li>Barba arreglada</li>
                                    <li>Sin lentes</li>
                                    <li>De no traer corbata, no se debe abrochar el ultimo boton de la camisa</li>
                                </ul>
                                <img style="max-width: 100%;" src="/static/assets/img/noimage.png">
                            </div>
                            <div class="col-md-6">
                                <p>Mujeres:</p>
                                <ul>
                                    <li>Sin arracadas</li>
                                    <li>Cabello recogido</li>
                                    <li>Maquillaje discreto</li>
                                    <li>Orejas descubiertas</li>
                                    <li>Sin lentes</li>
                                </ul>
                                <img style="max-width: 100%;" src="/static/assets/img/noimagef.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center">
                        <br>
                        <button type="button" onclick="image.click();" class="btn st-cropper-select-btn btn-secondary btn-md">Seleccione foto</button>
                    </div>
                    <div class="showimg  d-flex justify-content-center pt-3" >
                        <div class="row imgdiv" id="imgdiv" style="" >
                            <img width="100%" id="imagecan">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="button" onclick="register_photo(event)" class="btn btn-primary st-cropper-upload-btn btn-md">Guardar
                <i class="fa fa-spinner fa-spin showloading" style="color:white; font-size:12px; display:none;  position:absolute; margin-left: 3px; margin-top: 4px;"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-md st-cropper-close-btn" data-dismiss="modal">Cerrar</button>
        </div>
         </form>
    </div>


<script>
var cropper;
$(document).ready(function(){
//cropper Start
        $('#imgdiv').hide();
        $('#croppedimg').hide();

        $('#image').on("change", function (e) {
            $('#instructions').hide();
            console.log(e);
            ratio = 1 / 1;
            croppingimg(e, ratio);
        });

        function croppingimg(e) {
            var imgsrc = URL.createObjectURL(e.target.files[0])
            if (imgsrc) {
                // console.log(imgsrc);
                $('#imagecan').attr("src", imgsrc);
                $('#imgdiv').show();
                var image = document.getElementById('imagecan');
                if (cropper) {
                    cropper.destroy();
                }
                cropper = new Cropper(image, {
                    viewMode: 3,
                    aspectRatio: 1/1.285, // Proporción de recorte (opcional)
                    viewMode:1,
                    crop: function (event) {
                        var url = cropper.getCroppedCanvas({
                        }).toDataURL();
                         croppedImage = new Image();
                         croppedImage.src = url
                        console.log(croppedImage.src)
                         $('#photo').val(croppedImage.src)
                    }
                });


            }
        }
    //cropper end
});

</script>