<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Tabla de pagos</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addForm" method="post">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">

                <table class="table table-bordered table-striped">
                  <tr>
                    <th>Monto</th>
                    <th>Estatus</th>
                    <th>Dia de pago</th>
                  </tr>
                    {% for data in table %}
                        <tr>
                            <td> {{ data.pay_value }}</td>
                            <td>{% if data.status == 0 %}No pagado{% elif data.status == 1 %}Pagado{% endif %}</td>
                            <td>{{ data.pay_date }}</td>
                          </tr>
                     {% endfor %}


                </table>

                </div>


            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
     </form>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
