<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Agregar incapacidad: </h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addForm" method="post">
        <div class="modal-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <p>{{ employee.name }} {{ employee.last_name }} {{ employee.middle_name }}</p>
                    <input type="text" name="employee_id" class="form-control" id="employee_id" placeholder="Fecha de alta" value="{{ employee.id }}" required="" hidden>
                </div>
                <div class="form-group">
                    <label for="name">Folio<code>*</code></label>
                    <input type="text" name="folio" class="form-control" id="folio" placeholder="Folio" value="" required>
                </div>
                <div class="form-group">
                    <label for="initial_subsequent">Inicial o Subsecuente<code>*</code></label>
                    <select name="initial_subsequent" id="initial_subsequent" class="form-control " style="width: 100%;" required>
                        <option selected="selected" value="">Selecciona una opción</option>
                        <option value="Inicial">Inicial</option>
                        <option value="Subsecuente">Subsecuente</option>
                    </select>
                </div>
                                <div class="form-group">
                    <label for="name">Fecha de Comienzo<code>*</code></label>
                    <input type="date" name="date_start " class="form-control" id="date_start" placeholder="Fecha de Comienzo" value="" required>
                </div>
                <div class="form-group">
                    <label for="name">Fecha de termino<code>*</code></label>
                    <input type="date" name="date_end " class="form-control" id="date_end" placeholder="Fecha de termino" value="" required>
                </div>
                <div class="form-group">
                    <label for="number_days">Numero de dias<code>*</code></label>
                    <input type="number" name="number_days" class="form-control" id="number_days" placeholder="Numero de dias" value="" readonly required>
                </div>
                <div class="form-group">
                    <label for="reasons_leave">Tipo de incapacidad<code>*</code></label>
                    <select name="type" id="type" class="form-control " style="width: 100%;" required>
                        <option selected="selected" value="">Selecciona una opción</option>
                        <option value="Enfermedad general">Enfermedad general</option>
                        <option value="Riesgo de trabajo">Riesgo de trabajo</option>
                        <option value="Maternidad">Maternidad</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
           <button type="submit" class="btn btn-primary" onclick="register_inability(event, '{{ employee_inhability.initial_subsequent }}', '{{ employee_inhability.status }}')">Guardar</button>
        </div>
     </form>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<script>

    function change_days(){
        const date_start = document.getElementById('date_start').value;
        const date_end = document.getElementById('date_end').value;
        const date1 = moment(date_start);
        const date2 = moment(date_end);
        const diff = date2.diff(date1, 'days')+1;
        document.getElementById('number_days').value = diff;
    }
    document.getElementById('date_start').addEventListener("change",function(event){
        change_days();
      });
      document.getElementById('date_end').addEventListener("change",function(event){
        change_days();
      });

      document.getElementById('initial_subsequent').addEventListener("change",function(event){
        change_days();
      });

      document.getElementById('initial_subsequent').addEventListener("change",function(event){
        if (document.getElementById('initial_subsequent').value == "Subsecuente"){
            var fecha = new Date("{{ employee_inhability.date_end }}");
            fecha.setDate(fecha.getDate() + 2);
            var year = fecha.getFullYear();
            var month = ('0' + (fecha.getMonth() + 1)).slice(-2);
            var day = ('0' + fecha.getDate()).slice(-2);
            var formattedDate = year + '-' + month + '-' + day;
            document.getElementById('date_start').value = formattedDate;
            document.getElementById('date_start').readOnly = true;
        }
        if (document.getElementById('initial_subsequent').value == "Inicial"){
            document.getElementById('date_start').value = "";
            document.getElementById('date_start').readOnly = false;
        }
      });
</script>